<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>edit</title>
</head>
<body>
<h2>edit</h2>

<form id="boardForm" action="/board/edit" method="post" enctype="multipart/form-data" name="boardForm">
  <!-- 추가된 hidden input -->
  <input type="hidden" id="fileCountInput" name="fileCount" value="0">

  제목: <input type="text" name="boardTitle"> <br>
  내용: <textarea name="boardContents" cols="30" rows="10"></textarea> <br>
  파일: <input type="file" name="boardFile" id="fileInput" multiple> <br>
  <button type="submit" onclick="submitForm()">글작성</button>
</form>

<script>

    // 서버로 데이터를 전송하는 함수
    function submitForm() {
        var fileInput = document.getElementById('fileInput');
        var fileCountInput = document.getElementById('fileCountInput');

        // 선택된 파일들을 FormData에 추가
        var formData = new FormData();

        // FormData에 다른 form 데이터 추가
        formData.append('boardTitle', document.getElementsByName('boardTitle')[0].value);
        formData.append('boardContents', document.getElementsByName('boardContents')[0].value);

        // 파일이 선택되었을 경우에만 boardFile을 추가
        if (fileInput.files && fileInput.files.length > 0) {
            for (var i = 0; i < fileInput.files.length; i++) {
                formData.append('boardFile', fileInput.files[i]);
            }
        }

        // XMLHttpRequest를 이용하여 서버로 데이터 전송
        var xhr = new XMLHttpRequest();
        xhr.open('post', '/board/edit', true);

        // 서버로 데이터 전송
        xhr.send(formData);

        // 리다이렉트
        // location.href = "/board/paging";
    }
</script>

</body>
</html>
